@import "/palette.css";
.body {
    background-color: var(--color-background);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.4em;
    /* font-family: ; */
}

.header.subpage {
    width: 100%;
    height:7em;

}

.menu.sticky_bar {
    /* position: fixed; */
    width: 100%;
}
.menu.btns {
    display: flex;
    flex-flow: row wrap ;
    list-style: none;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    color: var(--color-text);
    width: auto;
    height: auto;
    position: sticky;
}
.menu.button {
    padding-right: 2%;
    position: sticky;
}
A {
    text-decoration: none;
    color: var(--color-text);
    font-style: normal;
}

.greeting.section{
    width: 100%;
    display: flex;
    flex-flow: row wrap ;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

/* меньше 500px */
@media all and (max-width: 500px) {
	.greeting.section { flex-direction: column; }
}

.greetings.image_block {
    width: 50%;
    flex-wrap: wrap;
}
.greetings.img {
    width: 50%;
}

.greetings.text_block {

    width: 50%;
}



/* Slideshow container */
.slideshow-container {
    width: 60%;
    position: relative;
    height: 500px;
    margin: auto;
    margin-top: 10%;
  }

.head_text_block{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .head_text {
    
    align-self: center;
    margin-top: 5%;
    /* font-size: 1.8em; */
    font-size: 150%;
    color: white;
    font-stretch: wider;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    /* margin-top: -22px; */
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

  .mySlides {
    height: 100%;
    /* display: none */
  }

  .mySlides_img {
    vertical-align: middle;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.text_1 {
    margin-top: 5%;
    /* font-size: 1.8em; */
    font-size: 150%;
    color: white;
    font-stretch: wider;
    text-align: center;
}

.text_2 {
    margin-top: 2%;
    font-size: 150%;
    color: white;
    font-stretch: wider;
    text-align: center;
}

  /* Caption text */
  .text_3 {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .text_content {
    font-size: 12px;
    color: white;
    /* font-stretch:condensed; */
    letter-spacing:normal;
    text-align:left;
    font-family: verdana;
  }

  .info.section{
    width: 100%;
    display: flex;
    flex-flow: column wrap ;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.services.section{
    width: 100%;
    display: flex;
    flex-flow: column wrap ;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.services.content {
    align-items:flex-start;
    align-self: flex-start;
}

.contants.content {
    display: flex;
    flex-flow: wrap;
    margin: 10px;
}

.contacts.map {
 margin-left: 5%;
}

.contants.logo_img {
    width: 30px;
    object-fit: contain;
}